/* Declared Colour Variables*/
:root{
    --background-dark: #271c19;
    --headline-dark: #fffffe;
    --sub-headline-dark:#fff3ec;
    --paragraph-dark: #fff3ec;
    --button-text-dark: #271c19;
    --card-background-dark:#55423d;
    --card-paragraph-dark:#fff3ec;
    --card-headline-dark: #fffffe;
    --card-highlight: #9656a1;
}

/* External Font */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

/* Direct Element Properties  */
body{
  background-color: #55423d;
  font-family: 'Oxygen', sans-serif;
}
header{
  font-size: xx-large;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fffffe;
  font-family: 'Oxygen', sans-serif;
  margin: 1rem;
}

ol {
  text-align: center;
  margin: auto;
  padding-right: 40px;
  color: #271c19;
  font-family: 'Oxygen', sans-serif;
}

a{
  color: #fff3ec;
  text-decoration: none; 
  font-family: 'Oxygen', sans-serif;
}

p{
  color: #fff3ec;
  font-family: 'Oxygen', sans-serif;
}

a:hover{
    text-decoration: underline;
}

li{
  list-style-type: none;
  text-align: center;
  color: #271c19;
  font-family: 'Oxygen', sans-serif;
}

footer{
  color: #fff3ec;
  font-family: 'Oxygen', sans-serif;
}

.closeButton{
  color: red;
  font-size: 1rem;
}

.infoIcon,.closeButton:hover{
  cursor: pointer;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--background-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--background-light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
/*Non-Colour Specific Classes */
.footer{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    padding-top: 1em;
    font-size: x-large;
    width: 100%;
}

.subtitle{
    text-align: center;
    font-size: x-large;
    font-family: Oxygen;
}

.recipeDiv{
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: x-large;
    box-shadow: 3px 10px #9656a1;
    font-family: Oxygen;
    max-width: 550px;
    background-color:#ffc0ad;
}

.infoIcon{
  margin-left: 1rem;
}

/*Dark Mode Classes*/
.subtitle-dark{
    color: var(--paragraph-dark);
}

.step-dark{
    color: var(--paragraph-dark);
}

.recipeDiv-dark{
    background-color: var(--card-background-dark);
    box-shadow: 3px 10px var(--card-highlight);
    color: var(--card-paragraph-dark);
}

.body-dark{
    background-color: var(--background-dark);
}

.header-dark{
    color: var(--headline-dark);
}

.ol-dark{
    color: var(--card-paragraph-dark);
}

.footer-dark{
    color: var(--paragraph-dark);
}

/* Media Queries*/
@media (max-width: 600px){
    footer{
        font-size: medium;
        padding-top: 0.5em;
        padding-bottom: 0.375em;
    }

    li{
        font-size:large;
    }
}