body {
    background-color: #282a36;
}

@font-face {
    font-family: roboto;
    src: url(fonts/RobotoMono-Regular.ttf);
}

header{
    color: #50fa7b;
    font-family: roboto;
    font-size: xx-large;
    text-align: center;
}

footer{
    text-align: center;
    font-family: roboto;
    background-color: #50fa7b;
    color: #6272a4;
    padding: 0.5em;
    bottom: 0;
    height: 40px;
    font-size: x-large;
    position: fixed;
    width: 100%;
}

#subtitle{
    text-align: center;
    font-size: x-large;
    color: #ffb86c;
    font-family: roboto;
}

#content{
    margin: auto;
    text-align: center;
}

#generateRecipe{
    padding: 20px;
    font-size: large;
    font-family: roboto;
    background-color: #6272a4;
    color: #ff79c6;
    border: 0;
    border-radius: 0px;
    box-shadow: 1px 2px #bd94f9;
    transition: box-shadow 0.3s ease-in-out;
}

#generateRecipe:hover{
    box-shadow: 3px 10px #ff79c6;
}


#recipe{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -125px;
    padding: 1em;
    background-color: #bd94f9;
    box-shadow: 3px 10px #ff79c6;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    font-size: x-large;
    color: #282a36;
    font-family: roboto;
}
